<nav class="navbar navbar-expand-md navbar-light bg-light">
    <a class="navbar-brand">Tasks Manager</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent" *ngIf="isConnected">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" routerLink="/">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
            <button class="nav-link" data-bs-toggle="modal" data-bs-target="#addProjectModal">Add a project</button>
        </li>
        <li class="nav-item">
            <a class="nav-link" (click)="logout()">Log Out <span class="sr-only">(current)</span></a>
        </li>
      </ul>
    </div>
  </nav>

<div class="modal fade" id="addProjectModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Adding Project</h5>
          </div>
          <div class="modal-body">
         <form>
            <div class="mb-3">
                <label for="name" class="form-label">Name of project</label>
                <input name="name" [(ngModel)]="project.project_name"  type="text" class="form-control" id="name">
              </div>
              <button class="btn btn-primary btn-block" (click)="addProject()" data-bs-dismiss="modal"> Add Project </button>
         </form>
          </div>
        </div>
      </div>
</div>